/* Fuente general */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f7e8ff;
}

/* Header */
header {
  background-color: rgba(53, 21, 93);
  height: 130px;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.logo img {
  height: 230px;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border: 2px dotted transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav a:hover,
nav a.active {
  background-color: #512f82;
  border-color: #512f82;
}

.siguientes-fases {
  max-width: 800px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 300;
  color: #111;
}

.titulo-fase {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #35155d;
}

.siguientes-fases p {
  font-size: 1.25rem;
  line-height: 1.8;
}

.fase-contenido {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 1rem 2rem;
  text-align: center;
}

.fase-contenido .titulo-fase {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #35155d;
}

.contenido-fase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: left;
}

.texto-fase {
  flex: 1;
  min-width: 300px;
}

.texto-fase p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.imagen-fase {
  flex: 1;
  min-width: 300px;
}

.imagen-fase img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.fila-invertida {
  flex-direction: row-reverse;
}

